body {
    background-color: rgb(102, 147, 250);
}

body.h1.title{
    color: white;
    text-align: center;
    font-size: 75px;
}
h2 {
    color: white;
    text-align: right;
    font-size: 50px;
    letter-spacing: 1px;
    margin: 0;
}
h1.YourPeople {
    color: white;
    text-align: right;
    margin: 0;
    font-size: 60px;
}